<h1>About</h1>
<h1></h1>
<h4>The rules are simple: go to our home page. Pick from rock, paper or scissors. The computer will also pick randomly.</h4>
<h4>You will then find out who won.</h4>
<h3> Now let's play rock, paper, scissors!!</h3>