<h1>Player 1, make your choice </h1>
<a href="/play_game/rock">Choose rock. </a>
<h1> </h1>
<a href="/play_game/paper">Choose paper. </a>
<h1> </h1>
<a href="/play_game/scissors">Choose scissors. </a>
<h1> </h1>